In [2660]:
import json
from datetime import datetime
import plotly.express as px
from sklearn.model_selection import train_test_split
import sqlite3
import nltk
import spacy
import geopandas as gpd
from shapely.geometry import Polygon
import numpy as np
import umap
import pandas as pd
import shapefile as shp
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.mixture import GaussianMixture
from sklearn.decomposition import PCA
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import SelectKBest, f_classif
from imblearn.over_sampling import SMOTE
%matplotlib inline

In [2661]:
df_food = pd.read_csv('/Users/robholmstrom/OneDrive/Gitrepos/nonrepo_files/capstone4_files/df_food_clean.csv')

In [2789]:
df_food['stars_avg'].replace(3,np.nan, inplace =True)
df_food['star_binary'] = np.where((df_food['stars_avg'] <3) & (df_food['stars_avg'] != np.nan), 0, 1)

In [2790]:
df_food

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,review_count,is_open,stars_avg,categories_filtered,food_type,ethnicity,venue,food_comb,star_binary
0,0,eBEfgOPG7pvFhb2wcG9I7w,Philthy Phillys,"15480 Bayview Avenue, unit D0110",Aurora,ON,L4G 7J1,44.010962,-79.448677,4,1,4.0,"Restaurants, Cheesesteaks, Poutineries","Cheesesteaks, Poutineries",Undefined,Restaurant,"Cheesesteaks, Poutineries, Restaurant",1
1,1,lu7vtrp_bE9PnxWfA8g4Pg,Banzai Sushi,300 John Street,Thornhill,ON,L3T 5W4,43.820492,-79.398466,7,1,5.0,"Japanese, FastFood, FoodCourt, Restaurants",FastFood,Japanese,FoodCourt,"FastFood, Japanese, FoodCourt",1
2,2,9sRGfSVEfLhN_km60YruTA,Apadana Restaurant,13071 Yonge Street,Richmond Hill,ON,L4E 1A5,43.947011,-79.454862,3,1,NaN,"Persian/Iranian, Turkish, MiddleEastern, Resta...",Kebab,"MiddleEastern, Persian/Iranian, Turkish",Restaurant,"Kebab, MiddleEastern, Persian/Iranian, Turkish...",1
3,3,vjTVxnsQEZ34XjYNS-XUpA,Wetzel's Pretzels,"4550 East Cactus Rd, #KSFC-4",Phoenix,AZ,85032,33.602822,-111.983533,10,1,NaN,"Food, Pretzels, Bakeries, FastFood, Restaurants","Bakeries, Pretzels, FastFood",Undefined,Restaurant,"Bakeries, Pretzels, FastFood, Restaurant",1
4,4,98hyK2QEUeI8v2y0AghfZA,Pho Lee's Vietnamese Restaurant,"1541 E 38th St, Ste 101",Cleveland,OH,44114,41.512155,-81.663332,23,1,4.0,"Restaurants, Vietnamese, Soup",Soup,Vietnamese,Restaurant,"Soup, Vietnamese, Restaurant",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44310,44310,cmsAFAymfVoBitSF8R6GKw,Yao Fine Chinese Cuisine,"2487 S Gilbert Rd, Ste 102",Gilbert,AZ,85295,33.304935,-111.788861,230,1,4.0,"Chinese, Restaurants",Undefined,Chinese,Restaurant,"Chinese, Restaurant",1
44311,44311,n2BKYb8aw4AhRKLkdUjQRg,Steak & Cheese & Quick Pita Restaurant,199 College St,Toronto,ON,M5T 1P9,43.658683,-79.395071,21,1,NaN,"Sandwiches, Restaurants",Sandwiches,Undefined,Restaurant,"Sandwiches, Restaurant",1
44312,44312,YZeUH6zYS0dq5QHLYZhUnQ,Hooters,2820 N 75th Ave,Phoenix,AZ,85035,33.479139,-112.221142,106,1,2.0,"Nightlife, American(Traditional), ChickenWings...",ChickenWings,American(Traditional),Restaurant,"ChickenWings, American(Traditional), Restaurant",0
44313,44313,hskVqZCPqy-omm9CHi44xQ,Domino's,"6420 Rea Rd, Suite B1",Charlotte,NC,28226,35.078538,-80.818358,16,1,1.0,"Restaurants, Pizza, Sandwiches, FastFood, Chic...","ChickenWings, FastFood, Pizza, Sandwiches",Undefined,Restaurant,"ChickenWings, FastFood, Pizza, Sandwiches, Re...",0
44314,44314,SYa2j1boLF8DcGVOYfHPcA,Five Guys,7014-590 E Camelback Rd,Scottsdale,AZ,85251,33.504062,-111.929431,97,1,NaN,"American(New), Food, Burgers, Restaurants, Fas...","Burgers, FastFood",American(New),Restaurant,"Burgers, FastFood, American(New), Restaurant",1

In [ ]:
df_food['state_star'] =

In [2732]:
df_food_v1 = df_food.loc[df_food['stars_avg'].isin([1,2,4,5])]

In [2733]:
df_food_v2 = df_food_v1.reset_index(drop=True)

In [2734]:
df_food_clean = df_food_v2.copy()

In [2736]:
vectorizer = CountVectorizer(analyzer='word', min_df=50, max_features=50)
Xvec = vectorizer.fit_transform(df_food_clean['food_comb'])
bow_df = pd.DataFrame(Xvec.toarray(), columns=vectorizer.get_feature_names())

In [2737]:
vectorizertf = TfidfVectorizer(analyzer='word', min_df=50, max_features=50)
Xvectf = vectorizertf.fit_transform(df_food_clean['food_comb'])
tf_df = pd.DataFrame(Xvectf.toarray(), columns=vectorizertf.get_feature_names())

In [2738]:
#df_vec = pd.concat([bow_df, df_food_clean['stars_avg']], axis=1)

In [2739]:
df_vec = bow_df

In [2740]:
df_vec = tf_df

In [2741]:
#df_vec = np.array(df_food_clean['stars_avg']).reshape(-1, 1)

In [2742]:
# df_vec = df_vec[(df_vec != 0).any(axis=1)]
# df_vec = df_vec.loc[:, (df_vec != 0).any(axis=0)]

In [2743]:
X = df_vec
y = df_food_clean['state']

In [2744]:
X.columns

Index(['american', 'asianfusion', 'bakeries', 'barbeque', 'breakfast',
       'brunch', 'burgers', 'cafes', 'chickenshop', 'chickenwings', 'chinese',
       'coffee', 'comfortfood', 'delis', 'desserts', 'diners', 'donuts',
       'fastfood', 'foodtrucks', 'french', 'frozenyogurt', 'greek', 'grocery',
       'icecream', 'indian', 'italian', 'japanese', 'juicebars', 'korean',
       'mediterranean', 'mexican', 'middleeastern', 'new', 'pizza',
       'restaurant', 'salad', 'sandwiches', 'seafood', 'smoothies', 'soup',
       'specialtyfood', 'steakhouses', 'sushibars', 'tacos', 'tea', 'thai',
       'traditional', 'vegan', 'vegetarian', 'vietnamese'],
      dtype='object')

In [2745]:
k = 25
if len(X.columns) >= k:
    skb = SelectKBest(k = k, score_func = f_classif)
    best_kfit = skb.fit(X, y)
    X_best_feat = best_kfit.fit_transform(X,y)

    X_best_feat = pd.DataFrame(X_best_feat, columns=X.columns[best_kfit.get_support()])

    best_features = X_best_feat.columns.tolist()
else:
    print('To few columns to select')

In [2746]:
best_features

['american',
 'brunch',
 'burgers',
 'cafes',
 'chickenwings',
 'delis',
 'fastfood',
 'foodtrucks',
 'french',
 'indian',
 'japanese',
 'juicebars',
 'korean',
 'mexican',
 'middleeastern',
 'new',
 'pizza',
 'restaurant',
 'salad',
 'sandwiches',
 'smoothies',
 'sushibars',
 'tacos',
 'traditional',
 'vietnamese']

In [2747]:
# X = df_vec[best_features]
# y = df_food_clean['state']

In [2748]:
X

,american,asianfusion,bakeries,barbeque,breakfast,brunch,burgers,cafes,chickenshop,chickenwings,...,specialtyfood,steakhouses,sushibars,tacos,tea,thai,traditional,vegan,vegetarian,vietnamese
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.672927
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.707107,0.0,0.000000,0.0,0.0,0.000000
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.678026,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.519750,0.0,0.000000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31856,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000
31857,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.707107,0.0,0.000000,0.0,0.0,0.000000
31858,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000
31859,0.477498,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.650327,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.539385,0.0,0.0,0.000000
31860,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.588841,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000

In [2749]:
le_train = LabelEncoder()
y_le = le_train.fit_transform(y)

In [2750]:
np.unique(y_le)

array([0, 1, 2, 3, 4, 5, 6, 7])

In [2751]:
y.value_counts()

ON    7873
AZ    6192
NV    4214
QC    3672
OH    3305
NC    2562
PA    2276
AB    1767
Name: state, dtype: int64

In [2752]:
y_state_dict= pd.concat([pd.DataFrame(y_le), pd.DataFrame(y)], axis = 1).groupby('state')[0].mean()

In [2753]:
y_state_dict

state
AB    0
AZ    1
NC    2
NV    3
OH    4
ON    5
PA    6
QC    7
Name: 0, dtype: int64

In [2754]:
y_state_dict.to_dict()

{'AB': 0, 'AZ': 1, 'NC': 2, 'NV': 3, 'OH': 4, 'ON': 5, 'PA': 6, 'QC': 7}

In [2755]:
y_state_dict_swap = {value:key for key, value in y_state_dict.items()}
y_state_dict_swap

{0: 'AB', 1: 'AZ', 2: 'NC', 3: 'NV', 4: 'OH', 5: 'ON', 6: 'PA', 7: 'QC'}

In [2756]:
X_train, X_test, y_train, y_test = train_test_split(X, y_le, stratify = y_le, random_state = 42)

In [2757]:

oversample = SMOTE()
X_train, y_train = oversample.fit_resample(X_train, y_train)

In [2758]:

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [2759]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(multi_class= 'ovr', solver = 'lbfgs', penalty = 'l2', max_iter = 1000)

In [2760]:
lr.fit(X_train_scaled, y_train)

LogisticRegression(max_iter=1000, multi_class='ovr')

In [2761]:
y_test_pred = lr.predict(X_test_scaled)
y_train_pred = lr.predict(X_train_scaled)

In [2762]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve,log_loss, precision_score, recall_score, confusion_matrix, classification_report, accuracy_score, f1_score
print('LR1 confusion matrix')
#lr1train = confusion_matrix(y_train, y_pred_train, normalize= None)
lr1test = confusion_matrix(y_test, y_test_pred, normalize = None)
pd.DataFrame(lr1test).rename(columns = y_state_dict_swap, index = y_state_dict_swap)

LR1 confusion matrix

     AB   AZ   NC   NV   OH   ON   PA   QC
AB   90   40   25   16   38   90   56   87
AZ  138  443  143  134  207  121  185  177
NC   62  110  105   40  103   62   80   79
NV  100  237   98  115  163  108  109  124
OH   63  126   80   43  178   86  170   80
ON  257  156  137  111  150  446  184  527
PA   62   66   53   22   92   53  145   76
QC  121   49   45   35   55  155   66  392

In [2763]:
print('Test macro average recall score is ',recall_score(y_test, y_test_pred, average = 'macro'))
print('Train macro average recall score is ',recall_score(y_train, y_train_pred, average = 'macro'))

Test macro average recall score is  0.23583512587710198
Train macro average recall score is  0.24129974597798476

In [2764]:
print('Test accuracy score is ',accuracy_score(y_test, y_test_pred))
print('Train accuracy score is ',accuracy_score(y_train, y_train_pred))

Test accuracy score is  0.24027115239769017
Train accuracy score is  0.24129974597798476

In [2765]:
recall_score(y_test, y_test_pred, average = 'macro')/(1/lr1test.shape[0])

1.8866810070168158

In [2766]:
knn1 = KNeighborsClassifier(n_neighbors=15, weights='uniform', leaf_size=20)
knn1.fit(X_train_scaled, y_train)

y_test_predknn1 = knn1.predict(X_test_scaled)
y_train_predknn1 = knn1.predict(X_train_scaled)
print('Test macro average recall score is ',recall_score(y_test, y_test_predknn1,average = 'macro'))
print('Train macro average recall score is ',recall_score(y_train, y_train_predknn1,average = 'macro'))

Test macro average recall score is  0.2300554325741168
Train macro average recall score is  0.3253386960203218

In [2767]:
knntest = confusion_matrix(y_test, y_test_pred, normalize = None)
pd.DataFrame(knntest).rename(columns = y_state_dict_swap)

    AB   AZ   NC   NV   OH   ON   PA   QC
0   90   40   25   16   38   90   56   87
1  138  443  143  134  207  121  185  177
2   62  110  105   40  103   62   80   79
3  100  237   98  115  163  108  109  124
4   63  126   80   43  178   86  170   80
5  257  156  137  111  150  446  184  527
6   62   66   53   22   92   53  145   76
7  121   49   45   35   55  155   66  392

In [2768]:
print('Test accuracy score is ',accuracy_score(y_test, y_test_predknn1))
print('Train accuracy score is ',accuracy_score(y_train, y_train_predknn1))

Test accuracy score is  0.2845844840572433
Train accuracy score is  0.3253386960203218

In [2769]:
rf = RandomForestClassifier(max_depth = 8)
rf.fit(X_train_scaled, y_train)
y_test_predrf = rf.predict(X_test_scaled)
y_train_predrf = rf.predict(X_train_scaled)

print('Test macro average recall score is ',recall_score(y_test, y_test_predrf,average = 'macro'))
print('Train macro average recall score is ',recall_score(y_train, y_train_predrf,average = 'macro'))

Test macro average recall score is  0.23747876266209572
Train macro average recall score is  0.29193480101608804

In [2770]:
rftest = confusion_matrix(y_test, y_test_predrf, normalize = None)
pd.DataFrame(rftest).rename(columns = y_state_dict_swap)

    AB   AZ   NC  NV   OH   ON   PA   QC
0  109   17   15   4   30  165   16   86
1   89  329  114  77  213  423  130  173
2   34   73   83  40   99  195   59   58
3   53  178   71  56  149  330   94  123
4   78   69   70  32  174  221  106   76
5  194   69   72  21  139  865   72  536
6   58   27   40  19   89  174   93   69
7  108   25   10   5   41  287   34  408